/*--root colors--*/
:root {
    --sage: rgba(144,174,172,1);
    --lightpurple: rgba(177,162,183,1);
    --meat: rgba(255,191,191,1);
    --grape: rgba(111,58,130,0.65);
    --beachwater: rgba(99,214,214,0.8);
    --indigo: rgba(52,128,171,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------- body ------------------*/
body {
    color: var(--sage);
    font-family: Arial, Helvetica, sans-serif
}



    
    
    
/*----------------------- header ------------------*/
header {
    background-color: var(--beachwater);
   padding: 20px 35px;
    background-size: cover;
}
header h1 {
    color: var(--grape);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    font-style: italic;
}
header h1:hover {
    color: var(--lightpurple);
}
header a {
    text-decoration: none;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}
header nav ul li a {
    color: var(--indigo);
    padding: 10px 10px;
    font-size: 2vw;

}
header nav ul li a:hover {
    background: var(--meat);

}
/* ---------- section Title -----------*/

.section-title {
     color: var(--indigo);
    font-size: 25px;
    text-align: center;
    margin: 0 auto 35 auto;
    width: 100%;

    padding-bottom:20px; 
} 

/* ------- ABOUT ME --------*/
.about-me {
    background-color: var(--lightpurple);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.about-me h2:hover {
    color: var(--beachwater);
}
.about-me p {
    color: var(--meat);
}
.about-me p:hover {
    color: antiquewhite;
}
/* --------- work --------*/
.work {
    background-color: var(--meat);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.work h2:hover {
    color: var(--sage);
}
/* --------- contact --------*/
.contact {
    background-color: var(--beachwater);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.contact h2:hover {
    color: var(--lightpurple);
}
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    width: 100%;
}
/* --------- resume --------*/

.resume {
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    text-align: center;
    background-color: var(--sage);
    width: 100%;
}
.resume p {
    color: var(--grape);
}
.resume p:hover {
    color: var(--meat);
}
.resume h2:hover {
    color: var(--beachwater);
}
.resume div {
    text-align: center;
    width: 100%;


}

form {
    flex-wrap:wrap;
    text-align: center;
    background-color: var(--lightpurple);
    color: var(--grape);
    border: var(--meat) solid 4px;
   width: 100%;
   margin-left: 35%;
   margin-right: 35%;
}
.form-input {
    text-align: center;
    border: solid 1px var(--meat);
    display: block;
    padding: 7px 15px;
    color: var(--indigo);
    font-size: 18px;
    width: 95%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.request-form label {
    margin: 0 5px;
    
}
.request-form label:hover {
    color: var(--beachwater);
}

button {
    border: none;
    padding: 15px;
    background: var(--grape);
    text-align: center;
    
}
button:hover {
    background: var(--meat);
}